package component

import (
	sitter "github.com/smacker/go-tree-sitter"
	"wikinow/internal/store"
)

templ Document(node *sitter.Node, lines *[]string, storage *store.Store) {
	<div>
		for i := 0; i < int(node.NamedChildCount()); i++ {
			@Parser(node.NamedChild(i), lines, storage)
		}
	</div>
}
