package component

import (
	"wikinow/parser"
)

templ Header(data *parser.Header) {
	if data.Level == 1 {
		<h1>
			for _, child := range data.Children {
				switch child := child.(type) {
					case *parser.Bold:
						@Bold(child)
				}
			}
		</h1>
	}
}

templ Bold(data *parser.Bold) {
	<b>
		{ data.Content }
	</b>
}
