package component

import (
	sitter "github.com/smacker/go-tree-sitter"
	"wikinow/internal/parser"
	"wikinow/internal/ast"
)

templ IndentedCodeBlock(node *sitter.Node, lines *[]string, c *parser.Ctx) {
	<pre class="bg-[#2D2D2D] rounded p-4 my-4">
		<code>
			{ ast.GetIndentedCode(*lines, node) }
		</code>
	</pre>
}
