package component

import (
	sitter "github.com/smacker/go-tree-sitter"
)

templ Layout(node *sitter.Node, lines *[]string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Document</title>
		</head>
		<body>
			@Parser(node, lines)
		</body>
	</html>
}
