package component

import "wikinow/component/icons"

templ SearchBar() {
	<button class="w-full bg-white text-gray p-2 flex flex-row gap-2 border rounded-lg items-center text-sm">
		@icons.MagnifyingGlass("")
		<span>Quick search...<span class="p-10 text-xs font-semibold">Ctrl K</span></span>
	</button>
}

templ SearchModal() {
}
